# Dossiers models
backend/api/models/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
**/.env

# Private keys
backend/pfe-space.pem
